body,html{
    padding: 0;
    margin: 0;
}

body{
    font-size: 14px;
    line-height: 22px;
    font-family: 'montserratlight';
}
.welcome_area{
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #333;
}

.single_slide{
    position: relative;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/bg.jpg);
    height: 800px;
  
    
}
.single_slide .slide_text {
    position: absolute;
    width: 100%;
    top: 300px;
    height: 400px;
    z-index: 999;
    text-align: center;
}
.table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
}
.single_slide .slide_text .table .table_cell {
    padding-top: 5%;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
}
.single_slide .slide_text h2 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 30px;
}
.single_slide .slide_text h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;

    letter-spacing: 0;
    margin-bottom: 30px;
}
.single_slide .slide_text a {
    background-color: #3F51B5;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    text-transform: capitalize;
}



.single_slide .slide_text h2 > span {
    color: #fff;
}
.single_slide .slide_text a.active {
    background-color: #FFC107;
    color: #3F51B5;
  
}
.navbar-brand{
   color: #FFF;
   font-family: 'montserratlight';
   font-size: 30px!important;
    padding: 30px!important;
     z-index: 999;
    font-weight: 700;
}



.nav li a{
    color: #fff!important;
    font-weight: 500;
    font-size: 1.2em;
}
.nav li a:hover{
    color:  #18BC9c!important
}

/* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 12 css */
        /*
        .jssora12l                  (normal)
        .jssora12r                  (normal)
        .jssora12l:hover            (normal mouseover)
        .jssora12r:hover            (normal mouseover)
        .jssora12l.jssora12ldn      (mousedown)
        .jssora12r.jssora12rdn      (mousedown)
        */
        .jssora12l, .jssora12r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 30px;
            height: 46px;
            cursor: pointer;
            background: url('img/a12.png') no-repeat;
            overflow: hidden;
        }
        .jssora12l { background-position: -16px -37px; }
        .jssora12r { background-position: -75px -37px; }
        .jssora12l:hover { background-position: -136px -37px; }
        .jssora12r:hover { background-position: -195px -37px; }
        .jssora12l.jssora12ldn { background-position: -256px -37px; }
        .jssora12r.jssora12rdn { background-position: -315px -37px; }


/* jssor slider css End */

.navbar-brand{
     color: #fff!important;
     font-weight: 800;
     font-size: 1.5em;
}

.panel-heading{
    font-size: 1.3em;
    font-weight:bold;
    
}
#about{
    min-height: 400px;
    
}
#about h2{
    margin-top: 60px;
}
#about p{
    line-height: 2;
    font-size: 15px;
}

#creatives{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 400px!important;
    background-color: #ccc;
}

#gallery{
     padding-top: 50px;
    min-height: 400px!important;
    background-color: dodgerblue;
}

#contact .container{
    padding:40px;
}
#contact{
    background-color:rgba(44,62,80,0.95);
}

.photos{
    margin: 0;
    padding:0;
}

.photos li{
    list-style: none;
    float: left;
    margin: 5px;
    width: 23%;
}

.photos img{
    width: 150px;
    height: 150px;
}






address{
    font-size: 15px;
}
footer{
    background-color:rgba(44,62,80,1);
    color: #fff;
}
footer p{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}